
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Nunito:ital,wght@0,300;0,600;1,600&display=swap');

body {
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
    font-family: 'Dosis';
}
